[Desktop Entry]
Version=1.0.5
Name=2I Stundenplan
GenericName=2I Stundenplan
Comment=Zeigt den Stundenplan der Klasse 2I an
Terminal=false
Type=Application
Categories=Utility
Keywords=Stundenplan;Klasse;2I;